.main {
  background: #eee;
}

.hero-container {
  position: relative;
  background: #000;
  height: 400px;
}

.title {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 1200px;
  margin: 20px auto;
  columns: 4;
  column-gap: 20px;
}

.container .box {
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  break-inside: avoid;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container .box img {
  max-width: 100%;
  min-width: 100%;
}

.container .box h2 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 20px;
}

.container .box p {
  margin: 10px 0 0;
  padding: 0 0 10px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .container {
    columns: 3;
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px 20px;
  }
}

@media (max-width: 768px) {
  .container {
    columns: 2;
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 20px 20px;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 1;
    width: calc(100% - 10px);
    box-sizing: border-box;
    padding: 10px 10px;
  }
}
